{% extends "base.html" %}
{% block title %}About Jeffries{% endblock %}
{% block content %}

<h1>Jeffries' Crews</h1>

<table style="width:100%;">
    <tr>
        <td><img src="images/Ruvin.jpg" style="width:400px;" /><h3>Ruvin Yusubov as Product Owner</h3></td>
        <td><img src="images/Sylvain.jpg" style="width:400px;" /><h3>Sylvain Huprelle as Scrum Master</h3></td>
    </tr>
    <tr>
        <td><img src="images/Halim.jpg" style="width:400px;" /><h3>Halim Fadhli as Scrum Slave</h3></td>
        <td><img src="images/Dommy.jpg" style="width:400px;" /><h3>Dommy Asfiandy as Scrum Slave</h3></td>
    </tr>
</table>
{% endblock %}