{% extends "base.html" %}
{% block title %}About Jeffries{% endblock %}
{% block content %}

<h1>Jeffries' Crews</h1>

<div class="table-responsive">
<table class="table">
    <tr>
        <td>
            <img src="images/Ruvin.jpg" style="width:250px;" />
            <h5><b>Ruvin Yusubov</b> as Product Owner</h5>
        </td>
        <td>
            <img src="images/Sylvain.jpg" style="width:250px;" />
            <h5><b>Sylvain Huprelle</b> as Scrum Master</h5>
        </td>
        <td>
            <img src="images/Halim.jpg" style="width:250px;" />
            <h5><b>Halim Fadhli</b> as Scrum Slave</h5>
        </td>
        <td>
            <img src="images/Dommy.jpg" style="width:250px;" />
            <h5><b>Dommy Asfiandy</b> as Scrum Slave</h5>
        </td>
    </tr>
</table>
</div>
{% endblock %}