<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/tablesorter.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.min.js') }}"></script>
	<script type="text/javascript">
        $(function() {
            $("table")
                .tablesorter({widthFixed: true, widgets: ['zebra']})
                .tablesorterPager({container: $("#pager")});
        });
	</script>
  </head>

  <body>
    <div class="container">
    <!-- Static navbar -->
    <a href="/"><img src="{{ url_for('static', filename='manchesterlogo.jpg') }}" style="width:150px; margin-bottom:10px;" /></a>
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JEFFRIES</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistic Details <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
                  <li><a href="/statisticsdetails/publication_author">Publication by Author</a></li>
                  <li><a href="/statisticsdetails/publication_year">Publication by Year</a></li>
                  <li><a href="/statisticsdetails/author_year">Author by Year</a></li>
                  <li><a href="/statisticsdetails/author_statistics">Author Statistics</a></li>
                  <!--<li class="divider"></li>-->
                </ul>
              </li>
              <li><a href="/averages">Averaged Year Data</a></li>
              <li><a href="/coauthors">Co-Authors</a></li>
              <li><a href="/network">Publication Network</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

    <div id="page">
      <!--div id="header">
        <h1>COMP61542: {{ args.dataset }}</h1>

        <div id="navigation">
          <a href="/">Home</a>
        </div>
      </div-->

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
  </body>
</html>