{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<!-- Ruvin_test -->
<form name="input" action="/statisticsdetails/{{ args.status }}" method="get" data-ajax="false" onSubmit="validateForm(this)">
From: <input type="number" name="start_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.start_year }}">
To: <input type="number" name="end_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.end_year }}">

<input type="submit" value="Submit">
</form>

<h1>All Publications in {{ args.start_year }} {% if args.start_year != args.end_year %} - {{ args.end_year }}{% endif %}</h1>
<!-- Ruvin_test -->


<div class="table-responsive">
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

<link href="{{ url_for('static', filename='css/tablesorter.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery-latest.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tablesorter.pager.min.js') }}"></script>
<script type="text/javascript">
    $(function() {
        $("table")
            .tablesorter({widthFixed: true, widgets: ['zebra']})
            .tablesorterPager({container: $("#pager")});
    });
</script>

<div id="pager" class="pager">
	<form>
        <span class="firstpage"><span class="glyphicon glyphicon-backward"></span></span>
		<span class="prevpage"><span class="glyphicon glyphicon-chevron-left"></span></span>
		<input type="text" class="pagedisplay" style="width:70px;"/>
		<span class="nextpage"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <span class="lastpage"><span class="glyphicon glyphicon-forward"></span></span>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
		</select>
	</form>
</div>
<br />

<!-- Ruvin_test -->
<script>
function validateForm(form){
  start_year = form["start_year"].value;
  end_year = form["end_year"].value;
  if (end_year < start_year){
    alert("Invalid date range");
    return false;
  }
  return true;
}
</script>
<!-- Ruvin_test -->

{% endblock %}
