{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<div class="table-responsive">
<table class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="pager" class="pager">
	<form>
        <span class="firstpage"><span class="glyphicon glyphicon-backward"></span></span>
		<span class="prevpage"><span class="glyphicon glyphicon-chevron-left"></span></span>
		<input type="text" class="pagedisplay" style="width:70px;"/>
		<span class="nextpage"><span class="glyphicon glyphicon-chevron-right"></span></span>
        <span class="lastpage"><span class="glyphicon glyphicon-forward"></span></span>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option value="40">40</option>
			<option value="50">50</option>
		</select>
	</form>
</div>
</div>
{% endblock %}
